In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("problema2_sql").getOrCreate()
spark.sql("""
CREATE OR REPLACE TEMP VIEW tweets AS
SELECT content, user.username AS username, likeCount, retweetCount
FROM json.`data/us_news_tweets.json`
""")

spark.sql("""
CREATE OR REPLACE TEMP VIEW cat_keywords AS
SELECT value
FROM text.`cat_keywords.txt`
""")

spark.sql("SELECT * FROM tweets").show(5)
spark.sql("SELECT * FROM cat_keywords").show(5)

25/04/02 23:30:27 WARN Utils: Your hostname, kevin-HP-ProDesk-600-G2-SFF resolves to a loopback address: 127.0.1.1; using 192.168.1.105 instead (on interface eno1)
25/04/02 23:30:27 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/04/02 23:30:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/04/02 23:32:54 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+--------------------+---------------+---------+------------+
|             content|       username|likeCount|retweetCount|
+--------------------+---------------+---------+------------+
|Pagaya Technologi...|JacekWierzbicki|        0|           0|
|Nasdaq, S&amp;P, ...|JacekWierzbicki|        0|           0|
|Kaixin Auto stock...|JacekWierzbicki|        0|           0|
|Sea Non-GAAP EPS ...|JacekWierzbicki|        0|           0|
|Asia Cup 2022: St...|      Scrilling|        0|           0|
+--------------------+---------------+---------+------------+
only showing top 5 rows

+--------+
|   value|
+--------+
|  kitten|
| feline |
|whiskers|
|  claws |
|   purr |
+--------+
only showing top 5 rows

In [3]:
spark.sql("""
CREATE OR REPLACE TEMP VIEW tweets_gatos AS
SELECT t.content, t.username, t.likeCount, t.retweetCount
FROM tweets t
CROSS JOIN cat_keywords c
WHERE LOWER(t.content) LIKE CONCAT('%', LOWER(c.value), '%')
""")

spark.sql("SELECT * FROM tweets_gatos").show(5)

+--------------------+-------------+---------+------------+
|             content|     username|likeCount|retweetCount|
+--------------------+-------------+---------+------------+
|710 HP Dodge Dura...|  AmeenWheels|        0|           0|
|2023 Dodge Durang...|  AmeenWheels|        0|           0|
|How does the 2023...|  AmeenWheels|        0|           0|
|NEWSðŸš¨.\nPresiden...|hifza43878208|        2|           1|
|https://t.co/uVcF...|   Air101blog|        0|           0|
+--------------------+-------------+---------+------------+
only showing top 5 rows

In [4]:
spark.sql("""
CREATE OR REPLACE TEMP VIEW tweets_no_gatos AS
SELECT t.*
FROM tweets t
EXCEPT
SELECT tg.*
FROM tweets_gatos tg
""")

spark.sql("SELECT * FROM tweets_no_gatos").show(5)

25/04/03 00:03:13 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/04/03 00:03:13 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/04/03 00:03:13 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/04/03 00:03:14 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/04/03 00:03:14 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/04/03 00:03:15 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

+--------------------+--------------+---------+------------+
|             content|      username|likeCount|retweetCount|
+--------------------+--------------+---------+------------+
|Your Ten Point Gu...|      mkrivich|        3|           1|
|2022 Chevrolet Bo...|        swogas|        1|           0|
|Sen. #Kennedy: #B...|EmpathicOne_21|        0|           0|
|RCB all-rounder g...|     Scrilling|        0|           0|
|More Questions On...|      GDPUKcom|        0|           0|
+--------------------+--------------+---------+------------+
only showing top 5 rows

In [5]:
spark.sql("SELECT * FROM tweets_gatos").show(10)
spark.sql("SELECT * FROM tweets_no_gatos").show(10)
spark.sql("SELECT COUNT(*) AS numero_sql FROM tweets_gatos").show()

spark.stop()

+--------------------+-------------+---------+------------+
|             content|     username|likeCount|retweetCount|
+--------------------+-------------+---------+------------+
|710 HP Dodge Dura...|  AmeenWheels|        0|           0|
|2023 Dodge Durang...|  AmeenWheels|        0|           0|
|How does the 2023...|  AmeenWheels|        0|           0|
|NEWSðŸš¨.\nPresiden...|hifza43878208|        2|           1|
|https://t.co/uVcF...|   Air101blog|        0|           0|
|Locally-sourced #...|       A2Indy|        0|           0|
|NEWSðŸš¨.\nPresiden...|       PMDC22|        8|           1|
|claws pickaxe (re...|    ShrimpzFN|        4|           0|
|#News Dodge's 202...|  FBMyNEXTCar|        0|           0|
|Oman Air Adds Mor...|wowidaysindia|        0|           0|
+--------------------+-------------+---------+------------+
only showing top 10 rows

25/04/03 00:21:07 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/04/03 00:21:08 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/04/03 00:21:08 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/04/03 00:21:08 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/04/03 00:21:08 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/04/03 00:21:08 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

+--------------------+---------------+---------+------------+
|             content|       username|likeCount|retweetCount|
+--------------------+---------------+---------+------------+
|Your Ten Point Gu...|       mkrivich|        3|           1|
|2022 Chevrolet Bo...|         swogas|        1|           0|
|Sen. #Kennedy: #B...| EmpathicOne_21|        0|           0|
|RCB all-rounder g...|      Scrilling|        0|           0|
|More Questions On...|       GDPUKcom|        0|           0|
|"Trumpâ€™s Shifting...|     jakemaulin|        0|           0|
|Who was the perso...|varunku43851089|        1|           0|
|An airbag will co...|        AksTab0|        0|           0|
|[1D] #Bitcoin mar...|      BitSwings|        1|           0|
|What are Broker S...|investmentshoax|        0|           0|
+--------------------+---------------+---------+------------+
only showing top 10 rows

+----------+
|numero_sql|
+----------+
|      4002|
+----------+